<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/user.css' %} ">
</head>
<body>

    <section class="sessao lista">
        <h1>Lista de Usuários</h1>
        <ul class="lista-user">
            {% for usuario in usuarios %}
                <li class="item-user">{{ usuario.nome }} - {{ usuario.email }} - {{ usuario.senha }}
                    <a href="{% url "editar" usuario.id %}"> <button>Editar</button> </a>
                    <a href="{% url "delete" usuario.id %}"> <button>Deletar</button> </a>
                </li>
            {% endfor %}
        </ul>
    </section>
    
    <section class="sessao form">
        <form action = "{% url 'salvar' %}" method="POST">
            {% csrf_token %}
    
            <div class="campo">
                <h1>Cadastrar</h1>
                <label class="texto-form" for="nome">Nome:</label>
                <input class="input" type="text" name="nome">
            </div>
            
            <div class="campo">
                <label class="texto-form" for="email">Email:</label>
                <input class="input" type="email" name="email">
            </div>
    
            <div class="campo">
                <label class="texto-form" for="senha">Senha:</label>
                <input class="input" type="password" name="senha">
            </div>
            
            <div class="campo">
                <label class="texto-form" for="conf">Confirmar senha:</label>
                <input class="input" type="password" name="conf">
            </div>
            
            <button type="submit">Salvar</button>
    
        </form>
    </section>

    <script src="{% static "js/user.js" %}"></script>
</body>
</html>